<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yotpo_Core::configuration" title="Yotpo" module="Yotpo_Core" sortOrder="40" resource="Yotpo_Core::config"/>
    </menu>
</config>
